@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.StripeElement {
  @apply px-4 py-3 bg-[rgb(244_244_245)] rounded-xl w-full shadow-sm;
}

.StripeElement--invalid {
  @apply bg-[rgb(254_231_239)]
}